* {
  margin: 0;
  padding: 0;
}
.banner {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("home_furniture.jpg");

  background-position: center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.7);
}
.logo {
  font-size: 50px;
  font-weight: bolder;
  color: rgb(202, 215, 226);
}

.navbar {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

ul {
  list-style: none;
  width: 40%;
  margin: auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
a {
  color: white;
  font-size: 18px;
  text-decoration: none;
}
.content {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: white;
}
.content h1 {
  margin: 20px auto;
  font-weight: 700;
  line-height: 30px;
  font-size: 50px;
}

.btn {
  width: 200px;
  margin: 30px 20px;
  padding: 15px 0;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  background-color: rgb(71, 103, 216);
  border: none;
  border-radius: 30px;
  cursor: pointer;
  color: white;
}
